src/META-INF/LogicaBiotrends.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Logica/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Logica/" name="LogicaBiotrends">
<types>
<xsd:schema>
<xsd:import namespace="http://Logica/" schemaLocation="http://192.168.0.5:8080/LogicaBiotrends/LogicaBiotrends?xsd=1"/>
</xsd:schema>
</types>
<message name="validarUsuario">
<part name="parameters" element="tns:validarUsuario"/>
</message>
<message name="validarUsuarioResponse">
<part name="parameters" element="tns:validarUsuarioResponse"/>
</message>
<message name="recibirPedido">
<part name="parameters" element="tns:recibirPedido"/>
</message>
<message name="recibirPedidoResponse">
<part name="parameters" element="tns:recibirPedidoResponse"/>
</message>
<message name="crearItem">
<part name="parameters" element="tns:crearItem"/>
</message>
<message name="crearItemResponse">
<part name="parameters" element="tns:crearItemResponse"/>
</message>
<message name="getUsuario">
<part name="parameters" element="tns:getUsuario"/>
</message>
<message name="getUsuarioResponse">
<part name="parameters" element="tns:getUsuarioResponse"/>
</message>
<message name="crearUsuario">
<part name="parameters" element="tns:crearUsuario"/>
</message>
<message name="crearUsuarioResponse">
<part name="parameters" element="tns:crearUsuarioResponse"/>
</message>
<message name="getFecha">
<part name="parameters" element="tns:getFecha"/>
</message>
<message name="getFechaResponse">
<part name="parameters" element="tns:getFechaResponse"/>
</message>
<message name="getItemxProveedorSolicitudes">
<part name="parameters" element="tns:getItemxProveedorSolicitudes"/>
</message>
<message name="getItemxProveedorSolicitudesResponse">
<part name="parameters" element="tns:getItemxProveedorSolicitudesResponse"/>
</message>
<message name="getDatosPedidoRecibido">
<part name="parameters" element="tns:getDatosPedidoRecibido"/>
</message>
<message name="getDatosPedidoRecibidoResponse">
<part name="parameters" element="tns:getDatosPedidoRecibidoResponse"/>
</message>
<message name="generarInformePorLab">
<part name="parameters" element="tns:generarInformePorLab"/>
</message>
<message name="generarInformePorLabResponse">
<part name="parameters" element="tns:generarInformePorLabResponse"/>
</message>
<message name="numerosDeOrdenRecibidas">
<part name="parameters" element="tns:numerosDeOrdenRecibidas"/>
</message>
<message name="numerosDeOrdenRecibidasResponse">
<part name="parameters" element="tns:numerosDeOrdenRecibidasResponse"/>
</message>
<message name="getDatosProveedor">
<part name="parameters" element="tns:getDatosProveedor"/>
</message>
<message name="getDatosProveedorResponse">
<part name="parameters" element="tns:getDatosProveedorResponse"/>
</message>
<message name="generarInformePorRA">
<part name="parameters" element="tns:generarInformePorRA"/>
</message>
<message name="generarInformePorRAResponse">
<part name="parameters" element="tns:generarInformePorRAResponse"/>
</message>
<message name="getEvaluacionProv">
<part name="parameters" element="tns:getEvaluacionProv"/>
</message>
<message name="getEvaluacionProvResponse">
<part name="parameters" element="tns:getEvaluacionProvResponse"/>
</message>
<message name="EliminarProveedor">
<part name="parameters" element="tns:EliminarProveedor"/>
</message>
<message name="EliminarProveedorResponse">
<part name="parameters" element="tns:EliminarProveedorResponse"/>
</message>
<message name="getProveedorAsociado">
<part name="parameters" element="tns:getProveedorAsociado"/>
</message>
<message name="getProveedorAsociadoResponse">
<part name="parameters" element="tns:getProveedorAsociadoResponse"/>
</message>
<message name="itemInventarioAdmin">
<part name="parameters" element="tns:itemInventarioAdmin"/>
</message>
<message name="itemInventarioAdminResponse">
<part name="parameters" element="tns:itemInventarioAdminResponse"/>
</message>
<message name="buscarOrdenByNumSol">
<part name="parameters" element="tns:buscarOrdenByNumSol"/>
</message>
<message name="buscarOrdenByNumSolResponse">
<part name="parameters" element="tns:buscarOrdenByNumSolResponse"/>
</message>
<message name="getProveedoresConSolicitudes">
<part name="parameters" element="tns:getProveedoresConSolicitudes"/>
</message>
<message name="getProveedoresConSolicitudesResponse">
<part name="parameters" element="tns:getProveedoresConSolicitudesResponse"/>
</message>
<message name="getSolicitudes">
<part name="parameters" element="tns:getSolicitudes"/>
</message>
<message name="getSolicitudesResponse">
<part name="parameters" element="tns:getSolicitudesResponse"/>
</message>
<message name="aprobarItems">
<part name="parameters" element="tns:aprobarItems"/>
</message>
<message name="aprobarItemsResponse">
<part name="parameters" element="tns:aprobarItemsResponse"/>
</message>
<message name="ocultar">
<part name="parameters" element="tns:ocultar"/>
</message>
<message name="ocultarResponse">
<part name="parameters" element="tns:ocultarResponse"/>
</message>
<message name="updateCantidad">
<part name="parameters" element="tns:updateCantidad"/>
</message>
<message name="updateCantidadResponse">
<part name="parameters" element="tns:updateCantidadResponse"/>
</message>
<message name="devolverPedido">
<part name="parameters" element="tns:devolverPedido"/>
</message>
<message name="devolverPedidoResponse">
<part name="parameters" element="tns:devolverPedidoResponse"/>
</message>
<message name="editarFormato">
<part name="parameters" element="tns:editarFormato"/>
</message>
<message name="editarFormatoResponse">
<part name="parameters" element="tns:editarFormatoResponse"/>
</message>
<message name="buscarOcompra">
<part name="parameters" element="tns:buscarOcompra"/>
</message>
<message name="buscarOcompraResponse">
<part name="parameters" element="tns:buscarOcompraResponse"/>
</message>
<message name="numsSol">
<part name="parameters" element="tns:numsSol"/>
</message>
<message name="numsSolResponse">
<part name="parameters" element="tns:numsSolResponse"/>
</message>
<message name="getDatos">
<part name="parameters" element="tns:getDatos"/>
</message>
<message name="getDatosResponse">
<part name="parameters" element="tns:getDatosResponse"/>
</message>
<message name="devolverOCompra">
<part name="parameters" element="tns:devolverOCompra"/>
</message>
<message name="devolverOCompraResponse">
<part name="parameters" element="tns:devolverOCompraResponse"/>
</message>
<message name="borrarEvaluacion">
<part name="parameters" element="tns:borrarEvaluacion"/>
</message>
<message name="borrarEvaluacionResponse">
<part name="parameters" element="tns:borrarEvaluacionResponse"/>
</message>
<message name="numerosDeOrden">
<part name="parameters" element="tns:numerosDeOrden"/>
</message>
<message name="numerosDeOrdenResponse">
<part name="parameters" element="tns:numerosDeOrdenResponse"/>
</message>
<message name="evaluarProv">
<part name="parameters" element="tns:evaluarProv"/>
</message>
<message name="evaluarProvResponse">
<part name="parameters" element="tns:evaluarProvResponse"/>
</message>
<message name="realizarDescargo">
<part name="parameters" element="tns:realizarDescargo"/>
</message>
<message name="realizarDescargoResponse">
<part name="parameters" element="tns:realizarDescargoResponse"/>
</message>
<message name="getItemsAprobado">
<part name="parameters" element="tns:getItemsAprobado"/>
</message>
<message name="getItemsAprobadoResponse">
<part name="parameters" element="tns:getItemsAprobadoResponse"/>
</message>
<message name="getItems_numSol">
<part name="parameters" element="tns:getItems_numSol"/>
</message>
<message name="getItems_numSolResponse">
<part name="parameters" element="tns:getItems_numSolResponse"/>
</message>
<message name="itemxProv">
<part name="parameters" element="tns:itemxProv"/>
</message>
<message name="itemxProvResponse">
<part name="parameters" element="tns:itemxProvResponse"/>
</message>
<message name="getCantAprobada">
<part name="parameters" element="tns:getCantAprobada"/>
</message>
<message name="getCantAprobadaResponse">
<part name="parameters" element="tns:getCantAprobadaResponse"/>
</message>
<message name="desaprobarItems">
<part name="parameters" element="tns:desaprobarItems"/>
</message>
<message name="desaprobarItemsResponse">
<part name="parameters" element="tns:desaprobarItemsResponse"/>
</message>
<message name="generarOCompra">
<part name="parameters" element="tns:generarOCompra"/>
</message>
<message name="generarOCompraResponse">
<part name="parameters" element="tns:generarOCompraResponse"/>
</message>
<message name="buscarPrecio">
<part name="parameters" element="tns:buscarPrecio"/>
</message>
<message name="buscarPrecioResponse">
<part name="parameters" element="tns:buscarPrecioResponse"/>
</message>
<message name="getDatosRec2">
<part name="parameters" element="tns:getDatosRec2"/>
</message>
<message name="getDatosRec2Response">
<part name="parameters" element="tns:getDatosRec2Response"/>
</message>
<message name="generarInforme">
<part name="parameters" element="tns:generarInforme"/>
</message>
<message name="generarInformeResponse">
<part name="parameters" element="tns:generarInformeResponse"/>
</message>
<message name="getDatosRec">
<part name="parameters" element="tns:getDatosRec"/>
</message>
<message name="getDatosRecResponse">
<part name="parameters" element="tns:getDatosRecResponse"/>
</message>
<message name="desasociarItem">
<part name="parameters" element="tns:desasociarItem"/>
</message>
<message name="desasociarItemResponse">
<part name="parameters" element="tns:desasociarItemResponse"/>
</message>
<message name="EditarUsuario">
<part name="parameters" element="tns:EditarUsuario"/>
</message>
<message name="EditarUsuarioResponse">
<part name="parameters" element="tns:EditarUsuarioResponse"/>
</message>
<message name="crearSolicitud">
<part name="parameters" element="tns:crearSolicitud"/>
</message>
<message name="crearSolicitudResponse">
<part name="parameters" element="tns:crearSolicitudResponse"/>
</message>
<message name="buscarEmpleado">
<part name="parameters" element="tns:buscarEmpleado"/>
</message>
<message name="buscarEmpleadoResponse">
<part name="parameters" element="tns:buscarEmpleadoResponse"/>
</message>
<message name="eliminarItem">
<part name="parameters" element="tns:eliminarItem"/>
</message>
<message name="eliminarItemResponse">
<part name="parameters" element="tns:eliminarItemResponse"/>
</message>
<message name="CrearProveedor">
<part name="parameters" element="tns:CrearProveedor"/>
</message>
<message name="CrearProveedorResponse">
<part name="parameters" element="tns:CrearProveedorResponse"/>
</message>
<message name="cambiarClave">
<part name="parameters" element="tns:cambiarClave"/>
</message>
<message name="cambiarClaveResponse">
<part name="parameters" element="tns:cambiarClaveResponse"/>
</message>
<message name="getDatosUsuario">
<part name="parameters" element="tns:getDatosUsuario"/>
</message>
<message name="getDatosUsuarioResponse">
<part name="parameters" element="tns:getDatosUsuarioResponse"/>
</message>
<message name="ultimos">
<part name="parameters" element="tns:ultimos"/>
</message>
<message name="ultimosResponse">
<part name="parameters" element="tns:ultimosResponse"/>
</message>
<message name="getUsuarios">
<part name="parameters" element="tns:getUsuarios"/>
</message>
<message name="getUsuariosResponse">
<part name="parameters" element="tns:getUsuariosResponse"/>
</message>
<message name="AsignarPermisos">
<part name="parameters" element="tns:AsignarPermisos"/>
</message>
<message name="AsignarPermisosResponse">
<part name="parameters" element="tns:AsignarPermisosResponse"/>
</message>
<message name="busquedaItem">
<part name="parameters" element="tns:busquedaItem"/>
</message>
<message name="busquedaItemResponse">
<part name="parameters" element="tns:busquedaItemResponse"/>
</message>
<message name="lista">
<part name="parameters" element="tns:lista"/>
</message>
<message name="listaResponse">
<part name="parameters" element="tns:listaResponse"/>
</message>
<message name="getIdSolicitud">
<part name="parameters" element="tns:getIdSolicitud"/>
</message>
<message name="getIdSolicitudResponse">
<part name="parameters" element="tns:getIdSolicitudResponse"/>
</message>
<message name="getSolicitud">
<part name="parameters" element="tns:getSolicitud"/>
</message>
<message name="getSolicitudResponse">
<part name="parameters" element="tns:getSolicitudResponse"/>
</message>
<message name="editarItem">
<part name="parameters" element="tns:editarItem"/>
</message>
<message name="editarItemResponse">
<part name="parameters" element="tns:editarItemResponse"/>
</message>
<message name="EditarProveedor">
<part name="parameters" element="tns:EditarProveedor"/>
</message>
<message name="EditarProveedorResponse">
<part name="parameters" element="tns:EditarProveedorResponse"/>
</message>
<message name="todosProveedores">
<part name="parameters" element="tns:todosProveedores"/>
</message>
<message name="todosProveedoresResponse">
<part name="parameters" element="tns:todosProveedoresResponse"/>
</message>
<message name="asociarItem">
<part name="parameters" element="tns:asociarItem"/>
</message>
<message name="asociarItemResponse">
<part name="parameters" element="tns:asociarItemResponse"/>
</message>
<message name="verificarClave">
<part name="parameters" element="tns:verificarClave"/>
</message>
<message name="verificarClaveResponse">
<part name="parameters" element="tns:verificarClaveResponse"/>
</message>
<message name="buscarInfoItem">
<part name="parameters" element="tns:buscarInfoItem"/>
</message>
<message name="buscarInfoItemResponse">
<part name="parameters" element="tns:buscarInfoItemResponse"/>
</message>
<message name="EliminarUsuario">
<part name="parameters" element="tns:EliminarUsuario"/>
</message>
<message name="EliminarUsuarioResponse">
<part name="parameters" element="tns:EliminarUsuarioResponse"/>
</message>
<portType name="LogicaBiotrends">
<operation name="validarUsuario">
<input wsam:Action="http://Logica/LogicaBiotrends/validarUsuarioRequest" message="tns:validarUsuario"/>
<output wsam:Action="http://Logica/LogicaBiotrends/validarUsuarioResponse" message="tns:validarUsuarioResponse"/>
</operation>
<operation name="recibirPedido">
<input wsam:Action="http://Logica/LogicaBiotrends/recibirPedidoRequest" message="tns:recibirPedido"/>
<output wsam:Action="http://Logica/LogicaBiotrends/recibirPedidoResponse" message="tns:recibirPedidoResponse"/>
</operation>
<operation name="crearItem">
<input wsam:Action="http://Logica/LogicaBiotrends/crearItemRequest" message="tns:crearItem"/>
<output wsam:Action="http://Logica/LogicaBiotrends/crearItemResponse" message="tns:crearItemResponse"/>
</operation>
<operation name="getUsuario">
<input wsam:Action="http://Logica/LogicaBiotrends/getUsuarioRequest" message="tns:getUsuario"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getUsuarioResponse" message="tns:getUsuarioResponse"/>
</operation>
<operation name="crearUsuario">
<input wsam:Action="http://Logica/LogicaBiotrends/crearUsuarioRequest" message="tns:crearUsuario"/>
<output wsam:Action="http://Logica/LogicaBiotrends/crearUsuarioResponse" message="tns:crearUsuarioResponse"/>
</operation>
<operation name="getFecha">
<input wsam:Action="http://Logica/LogicaBiotrends/getFechaRequest" message="tns:getFecha"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getFechaResponse" message="tns:getFechaResponse"/>
</operation>
<operation name="getItemxProveedorSolicitudes">
<input wsam:Action="http://Logica/LogicaBiotrends/getItemxProveedorSolicitudesRequest" message="tns:getItemxProveedorSolicitudes"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getItemxProveedorSolicitudesResponse" message="tns:getItemxProveedorSolicitudesResponse"/>
</operation>
<operation name="getDatosPedidoRecibido">
<input wsam:Action="http://Logica/LogicaBiotrends/getDatosPedidoRecibidoRequest" message="tns:getDatosPedidoRecibido"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getDatosPedidoRecibidoResponse" message="tns:getDatosPedidoRecibidoResponse"/>
</operation>
<operation name="generarInformePorLab">
<input wsam:Action="http://Logica/LogicaBiotrends/generarInformePorLabRequest" message="tns:generarInformePorLab"/>
<output wsam:Action="http://Logica/LogicaBiotrends/generarInformePorLabResponse" message="tns:generarInformePorLabResponse"/>
</operation>
<operation name="numerosDeOrdenRecibidas">
<input wsam:Action="http://Logica/LogicaBiotrends/numerosDeOrdenRecibidasRequest" message="tns:numerosDeOrdenRecibidas"/>
<output wsam:Action="http://Logica/LogicaBiotrends/numerosDeOrdenRecibidasResponse" message="tns:numerosDeOrdenRecibidasResponse"/>
</operation>
<operation name="getDatosProveedor">
<input wsam:Action="http://Logica/LogicaBiotrends/getDatosProveedorRequest" message="tns:getDatosProveedor"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getDatosProveedorResponse" message="tns:getDatosProveedorResponse"/>
</operation>
<operation name="generarInformePorRA">
<input wsam:Action="http://Logica/LogicaBiotrends/generarInformePorRARequest" message="tns:generarInformePorRA"/>
<output wsam:Action="http://Logica/LogicaBiotrends/generarInformePorRAResponse" message="tns:generarInformePorRAResponse"/>
</operation>
<operation name="getEvaluacionProv">
<input wsam:Action="http://Logica/LogicaBiotrends/getEvaluacionProvRequest" message="tns:getEvaluacionProv"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getEvaluacionProvResponse" message="tns:getEvaluacionProvResponse"/>
</operation>
<operation name="EliminarProveedor">
<input wsam:Action="http://Logica/LogicaBiotrends/EliminarProveedorRequest" message="tns:EliminarProveedor"/>
<output wsam:Action="http://Logica/LogicaBiotrends/EliminarProveedorResponse" message="tns:EliminarProveedorResponse"/>
</operation>
<operation name="getProveedorAsociado">
<input wsam:Action="http://Logica/LogicaBiotrends/getProveedorAsociadoRequest" message="tns:getProveedorAsociado"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getProveedorAsociadoResponse" message="tns:getProveedorAsociadoResponse"/>
</operation>
<operation name="itemInventarioAdmin">
<input wsam:Action="http://Logica/LogicaBiotrends/itemInventarioAdminRequest" message="tns:itemInventarioAdmin"/>
<output wsam:Action="http://Logica/LogicaBiotrends/itemInventarioAdminResponse" message="tns:itemInventarioAdminResponse"/>
</operation>
<operation name="buscarOrdenByNumSol">
<input wsam:Action="http://Logica/LogicaBiotrends/buscarOrdenByNumSolRequest" message="tns:buscarOrdenByNumSol"/>
<output wsam:Action="http://Logica/LogicaBiotrends/buscarOrdenByNumSolResponse" message="tns:buscarOrdenByNumSolResponse"/>
</operation>
<operation name="getProveedoresConSolicitudes">
<input wsam:Action="http://Logica/LogicaBiotrends/getProveedoresConSolicitudesRequest" message="tns:getProveedoresConSolicitudes"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getProveedoresConSolicitudesResponse" message="tns:getProveedoresConSolicitudesResponse"/>
</operation>
<operation name="getSolicitudes">
<input wsam:Action="http://Logica/LogicaBiotrends/getSolicitudesRequest" message="tns:getSolicitudes"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getSolicitudesResponse" message="tns:getSolicitudesResponse"/>
</operation>
<operation name="aprobarItems">
<input wsam:Action="http://Logica/LogicaBiotrends/aprobarItemsRequest" message="tns:aprobarItems"/>
<output wsam:Action="http://Logica/LogicaBiotrends/aprobarItemsResponse" message="tns:aprobarItemsResponse"/>
</operation>
<operation name="ocultar">
<input wsam:Action="http://Logica/LogicaBiotrends/ocultarRequest" message="tns:ocultar"/>
<output wsam:Action="http://Logica/LogicaBiotrends/ocultarResponse" message="tns:ocultarResponse"/>
</operation>
<operation name="updateCantidad">
<input wsam:Action="http://Logica/LogicaBiotrends/updateCantidadRequest" message="tns:updateCantidad"/>
<output wsam:Action="http://Logica/LogicaBiotrends/updateCantidadResponse" message="tns:updateCantidadResponse"/>
</operation>
<operation name="devolverPedido">
<input wsam:Action="http://Logica/LogicaBiotrends/devolverPedidoRequest" message="tns:devolverPedido"/>
<output wsam:Action="http://Logica/LogicaBiotrends/devolverPedidoResponse" message="tns:devolverPedidoResponse"/>
</operation>
<operation name="editarFormato">
<input wsam:Action="http://Logica/LogicaBiotrends/editarFormatoRequest" message="tns:editarFormato"/>
<output wsam:Action="http://Logica/LogicaBiotrends/editarFormatoResponse" message="tns:editarFormatoResponse"/>
</operation>
<operation name="buscarOcompra">
<input wsam:Action="http://Logica/LogicaBiotrends/buscarOcompraRequest" message="tns:buscarOcompra"/>
<output wsam:Action="http://Logica/LogicaBiotrends/buscarOcompraResponse" message="tns:buscarOcompraResponse"/>
</operation>
<operation name="numsSol">
<input wsam:Action="http://Logica/LogicaBiotrends/numsSolRequest" message="tns:numsSol"/>
<output wsam:Action="http://Logica/LogicaBiotrends/numsSolResponse" message="tns:numsSolResponse"/>
</operation>
<operation name="getDatos">
<input wsam:Action="http://Logica/LogicaBiotrends/getDatosRequest" message="tns:getDatos"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getDatosResponse" message="tns:getDatosResponse"/>
</operation>
<operation name="devolverOCompra">
<input wsam:Action="http://Logica/LogicaBiotrends/devolverOCompraRequest" message="tns:devolverOCompra"/>
<output wsam:Action="http://Logica/LogicaBiotrends/devolverOCompraResponse" message="tns:devolverOCompraResponse"/>
</operation>
<operation name="borrarEvaluacion">
<input wsam:Action="http://Logica/LogicaBiotrends/borrarEvaluacionRequest" message="tns:borrarEvaluacion"/>
<output wsam:Action="http://Logica/LogicaBiotrends/borrarEvaluacionResponse" message="tns:borrarEvaluacionResponse"/>
</operation>
<operation name="numerosDeOrden">
<input wsam:Action="http://Logica/LogicaBiotrends/numerosDeOrdenRequest" message="tns:numerosDeOrden"/>
<output wsam:Action="http://Logica/LogicaBiotrends/numerosDeOrdenResponse" message="tns:numerosDeOrdenResponse"/>
</operation>
<operation name="evaluarProv">
<input wsam:Action="http://Logica/LogicaBiotrends/evaluarProvRequest" message="tns:evaluarProv"/>
<output wsam:Action="http://Logica/LogicaBiotrends/evaluarProvResponse" message="tns:evaluarProvResponse"/>
</operation>
<operation name="realizarDescargo">
<input wsam:Action="http://Logica/LogicaBiotrends/realizarDescargoRequest" message="tns:realizarDescargo"/>
<output wsam:Action="http://Logica/LogicaBiotrends/realizarDescargoResponse" message="tns:realizarDescargoResponse"/>
</operation>
<operation name="getItemsAprobado">
<input wsam:Action="http://Logica/LogicaBiotrends/getItemsAprobadoRequest" message="tns:getItemsAprobado"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getItemsAprobadoResponse" message="tns:getItemsAprobadoResponse"/>
</operation>
<operation name="getItems_numSol">
<input wsam:Action="http://Logica/LogicaBiotrends/getItems_numSolRequest" message="tns:getItems_numSol"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getItems_numSolResponse" message="tns:getItems_numSolResponse"/>
</operation>
<operation name="itemxProv">
<input wsam:Action="http://Logica/LogicaBiotrends/itemxProvRequest" message="tns:itemxProv"/>
<output wsam:Action="http://Logica/LogicaBiotrends/itemxProvResponse" message="tns:itemxProvResponse"/>
</operation>
<operation name="getCantAprobada">
<input wsam:Action="http://Logica/LogicaBiotrends/getCantAprobadaRequest" message="tns:getCantAprobada"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getCantAprobadaResponse" message="tns:getCantAprobadaResponse"/>
</operation>
<operation name="desaprobarItems">
<input wsam:Action="http://Logica/LogicaBiotrends/desaprobarItemsRequest" message="tns:desaprobarItems"/>
<output wsam:Action="http://Logica/LogicaBiotrends/desaprobarItemsResponse" message="tns:desaprobarItemsResponse"/>
</operation>
<operation name="generarOCompra">
<input wsam:Action="http://Logica/LogicaBiotrends/generarOCompraRequest" message="tns:generarOCompra"/>
<output wsam:Action="http://Logica/LogicaBiotrends/generarOCompraResponse" message="tns:generarOCompraResponse"/>
</operation>
<operation name="buscarPrecio">
<input wsam:Action="http://Logica/LogicaBiotrends/buscarPrecioRequest" message="tns:buscarPrecio"/>
<output wsam:Action="http://Logica/LogicaBiotrends/buscarPrecioResponse" message="tns:buscarPrecioResponse"/>
</operation>
<operation name="getDatosRec2">
<input wsam:Action="http://Logica/LogicaBiotrends/getDatosRec2Request" message="tns:getDatosRec2"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getDatosRec2Response" message="tns:getDatosRec2Response"/>
</operation>
<operation name="generarInforme">
<input wsam:Action="http://Logica/LogicaBiotrends/generarInformeRequest" message="tns:generarInforme"/>
<output wsam:Action="http://Logica/LogicaBiotrends/generarInformeResponse" message="tns:generarInformeResponse"/>
</operation>
<operation name="getDatosRec">
<input wsam:Action="http://Logica/LogicaBiotrends/getDatosRecRequest" message="tns:getDatosRec"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getDatosRecResponse" message="tns:getDatosRecResponse"/>
</operation>
<operation name="desasociarItem">
<input wsam:Action="http://Logica/LogicaBiotrends/desasociarItemRequest" message="tns:desasociarItem"/>
<output wsam:Action="http://Logica/LogicaBiotrends/desasociarItemResponse" message="tns:desasociarItemResponse"/>
</operation>
<operation name="EditarUsuario">
<input wsam:Action="http://Logica/LogicaBiotrends/EditarUsuarioRequest" message="tns:EditarUsuario"/>
<output wsam:Action="http://Logica/LogicaBiotrends/EditarUsuarioResponse" message="tns:EditarUsuarioResponse"/>
</operation>
<operation name="crearSolicitud">
<input wsam:Action="http://Logica/LogicaBiotrends/crearSolicitudRequest" message="tns:crearSolicitud"/>
<output wsam:Action="http://Logica/LogicaBiotrends/crearSolicitudResponse" message="tns:crearSolicitudResponse"/>
</operation>
<operation name="buscarEmpleado">
<input wsam:Action="http://Logica/LogicaBiotrends/buscarEmpleadoRequest" message="tns:buscarEmpleado"/>
<output wsam:Action="http://Logica/LogicaBiotrends/buscarEmpleadoResponse" message="tns:buscarEmpleadoResponse"/>
</operation>
<operation name="eliminarItem">
<input wsam:Action="http://Logica/LogicaBiotrends/eliminarItemRequest" message="tns:eliminarItem"/>
<output wsam:Action="http://Logica/LogicaBiotrends/eliminarItemResponse" message="tns:eliminarItemResponse"/>
</operation>
<operation name="CrearProveedor">
<input wsam:Action="http://Logica/LogicaBiotrends/CrearProveedorRequest" message="tns:CrearProveedor"/>
<output wsam:Action="http://Logica/LogicaBiotrends/CrearProveedorResponse" message="tns:CrearProveedorResponse"/>
</operation>
<operation name="cambiarClave">
<input wsam:Action="http://Logica/LogicaBiotrends/cambiarClaveRequest" message="tns:cambiarClave"/>
<output wsam:Action="http://Logica/LogicaBiotrends/cambiarClaveResponse" message="tns:cambiarClaveResponse"/>
</operation>
<operation name="getDatosUsuario">
<input wsam:Action="http://Logica/LogicaBiotrends/getDatosUsuarioRequest" message="tns:getDatosUsuario"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getDatosUsuarioResponse" message="tns:getDatosUsuarioResponse"/>
</operation>
<operation name="ultimos">
<input wsam:Action="http://Logica/LogicaBiotrends/ultimosRequest" message="tns:ultimos"/>
<output wsam:Action="http://Logica/LogicaBiotrends/ultimosResponse" message="tns:ultimosResponse"/>
</operation>
<operation name="getUsuarios">
<input wsam:Action="http://Logica/LogicaBiotrends/getUsuariosRequest" message="tns:getUsuarios"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getUsuariosResponse" message="tns:getUsuariosResponse"/>
</operation>
<operation name="AsignarPermisos">
<input wsam:Action="http://Logica/LogicaBiotrends/AsignarPermisosRequest" message="tns:AsignarPermisos"/>
<output wsam:Action="http://Logica/LogicaBiotrends/AsignarPermisosResponse" message="tns:AsignarPermisosResponse"/>
</operation>
<operation name="busquedaItem">
<input wsam:Action="http://Logica/LogicaBiotrends/busquedaItemRequest" message="tns:busquedaItem"/>
<output wsam:Action="http://Logica/LogicaBiotrends/busquedaItemResponse" message="tns:busquedaItemResponse"/>
</operation>
<operation name="lista">
<input wsam:Action="http://Logica/LogicaBiotrends/listaRequest" message="tns:lista"/>
<output wsam:Action="http://Logica/LogicaBiotrends/listaResponse" message="tns:listaResponse"/>
</operation>
<operation name="getIdSolicitud">
<input wsam:Action="http://Logica/LogicaBiotrends/getIdSolicitudRequest" message="tns:getIdSolicitud"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getIdSolicitudResponse" message="tns:getIdSolicitudResponse"/>
</operation>
<operation name="getSolicitud">
<input wsam:Action="http://Logica/LogicaBiotrends/getSolicitudRequest" message="tns:getSolicitud"/>
<output wsam:Action="http://Logica/LogicaBiotrends/getSolicitudResponse" message="tns:getSolicitudResponse"/>
</operation>
<operation name="editarItem">
<input wsam:Action="http://Logica/LogicaBiotrends/editarItemRequest" message="tns:editarItem"/>
<output wsam:Action="http://Logica/LogicaBiotrends/editarItemResponse" message="tns:editarItemResponse"/>
</operation>
<operation name="EditarProveedor">
<input wsam:Action="http://Logica/LogicaBiotrends/EditarProveedorRequest" message="tns:EditarProveedor"/>
<output wsam:Action="http://Logica/LogicaBiotrends/EditarProveedorResponse" message="tns:EditarProveedorResponse"/>
</operation>
<operation name="todosProveedores">
<input wsam:Action="http://Logica/LogicaBiotrends/todosProveedoresRequest" message="tns:todosProveedores"/>
<output wsam:Action="http://Logica/LogicaBiotrends/todosProveedoresResponse" message="tns:todosProveedoresResponse"/>
</operation>
<operation name="asociarItem">
<input wsam:Action="http://Logica/LogicaBiotrends/asociarItemRequest" message="tns:asociarItem"/>
<output wsam:Action="http://Logica/LogicaBiotrends/asociarItemResponse" message="tns:asociarItemResponse"/>
</operation>
<operation name="verificarClave">
<input wsam:Action="http://Logica/LogicaBiotrends/verificarClaveRequest" message="tns:verificarClave"/>
<output wsam:Action="http://Logica/LogicaBiotrends/verificarClaveResponse" message="tns:verificarClaveResponse"/>
</operation>
<operation name="buscarInfoItem">
<input wsam:Action="http://Logica/LogicaBiotrends/buscarInfoItemRequest" message="tns:buscarInfoItem"/>
<output wsam:Action="http://Logica/LogicaBiotrends/buscarInfoItemResponse" message="tns:buscarInfoItemResponse"/>
</operation>
<operation name="EliminarUsuario">
<input wsam:Action="http://Logica/LogicaBiotrends/EliminarUsuarioRequest" message="tns:EliminarUsuario"/>
<output wsam:Action="http://Logica/LogicaBiotrends/EliminarUsuarioResponse" message="tns:EliminarUsuarioResponse"/>
</operation>
</portType>
<binding name="LogicaBiotrendsPortBinding" type="tns:LogicaBiotrends">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recibirPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemxProveedorSolicitudes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosPedidoRecibido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarInformePorLab">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numerosDeOrdenRecibidas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarInformePorRA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEvaluacionProv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProveedorAsociado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="itemInventarioAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarOrdenByNumSol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProveedoresConSolicitudes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSolicitudes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aprobarItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ocultar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCantidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devolverPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarFormato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarOcompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numsSol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devolverOCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borrarEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numerosDeOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="evaluarProv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="realizarDescargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemsAprobado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItems_numSol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="itemxProv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCantAprobada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="desaprobarItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarOCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPrecio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosRec2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarInforme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosRec">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="desasociarItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearSolicitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatosUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ultimos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AsignarPermisos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdSolicitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSolicitud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="todosProveedores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="asociarItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarInfoItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LogicaBiotrends">
<port name="LogicaBiotrendsPort" binding="tns:LogicaBiotrendsPortBinding">
<soap:address location="http://192.168.0.5:8080/LogicaBiotrends/LogicaBiotrends"/>
</port>
</service>
</definitions>